.main-app {
    .main-content {
        display: grid;
        gap: 15px;
    }

    @include for-narrow-layout {
        .main-content {
            grid-template-rows: 1fr 4fr;
            aside {
                grid-row: 1/2;
            }
        }
    }

    @include for-normal-layout {
        .main-content {
            grid-template-columns: 2fr 4fr;
            grid-template-rows: 1fr;
            aside {
                grid-column: 1/2;
            }
        }
    }

    @include for-wide-layout {
        .main-content {
            grid-template-columns: 1fr 4fr;
        }
    }
}
