.main-footer {
    background-color: $bgcColor;
    .footer-logo {
        img {
            max-width: 85px;
            background-color: $bgcColor;
        }
    }
    .footer-desc {
        text-align: center;
        padding-bottom: 25px;
    }
    .social-links {
        margin-bottom: 35px;

        img {
            width: 35px;
            filter: invert(1);
        }
    }
}
