.user-msg {
    z-index: 10;
    color: $fontColor;
    padding: 30px;
    font-size: rem(22px);
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $bgcColor;
    .txt-msg svg {
        margin-right: 30px;
    }
    button {
        // float: right;
        border: 0;
        border-radius: 50%;
        margin: 10px;
        color: $fontColor;
        &:hover {
            background-color: $clr2;
        }
    }

    &.success {
        border: 1px solid $clr1;
    }
    &.danger {
        border: 1px solid $clr1;
    }
}
