* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bgcColor;
    background-image: url("https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg");
}

html,
input,
select {
    font-family: SourceSansPro-Black, sans-serif;
    color: $fontColor;
    font-weight: 600;
    background-color: $clr1;
    border: none;
}
input {
    color: $clr4;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rem(8px);
}

h3 {
    font-size: rem(22px);
}
h4 {
    font-size: rem(20px);
}
p {
    font-size: rem(18px);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

::selection {
    color: $clr2;
    background-color: $clr1;
}

input:focus-visible,
textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
