// COLORS

$bgcColor: #272727;
$bgcColorOpacity: #0e0e0e7c;
$fontColor: #c5c202;

$clr1: #ffffff;
$clr2: #00306a;
$clr3: #a32721;
$clr4: #181818;

// BREAKPOINTS:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1000px;
